
.sidebar-container{
    display: flex;
}

.sidebar{
    max-width: 100px;
    height: 90vh;
    padding: 0 20px;
    border-right: 1px solid rgb(161, 161, 162);
    overflow: scroll;
}

.sidebar-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.sidebar-icons li  {
    font-size: 1.5rem;
    text-decoration: none;
    margin: 20px 0 5px 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 2px .5px #9d9d9d;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-icons p {
    font-size: small;
}