form {
    /* max-width: 600px; */
    margin: 15px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  fieldset {
    border: 1px solid #007BFF;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 25px 30px;
    position: relative;
  }


  fieldset :last-child{
    margin-bottom: 10px;
  }
  
  legend {
    background-color: #ffffff;
    /* color: rgb(0, 0, 0); */
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: small;
    width: auto;
    position: absolute;
    top: -20px;
  }

  .parentsData{
    margin-top: 10px;
  }