.dashboard{
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 30px;
}

.dashboard-card{
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(80, 77, 77);
    width: 75%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}