.sidebar-details {
    /* max-width: 250px; */
    height: 88vh;
    background-color: white;
    border-right: 1px solid grey;
}

.sidedetails-ul {
    padding-left: 0;
    padding-top: 15px;
    width: 250px;
}

.sidedetails-ul li {
    margin: 5px auto;
    width: 96%;
    height: 43px;
    padding: 15px;
    font-size: 17px;
    color: white;
    text-transform: capitalize;
    background-color: rgb(10 74 255);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        font-size: 1.2rem;
    }
}

.sidedetails-ul a {
    margin-top: 5px;
    width: 80%;
    height: 42px;
    padding: 10px;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(10 74 255);
    border-radius: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        font-size: 1.2rem;
    }
}

@media (max-width:950px) {
    .sidebar-details {
        position: absolute;
        width: 86vw;
        height: 86vh;
        left: 100px;
        background-color: rgba(175, 175, 175, 0.601);
        z-index: 1;
    }
    .sidedetails-ul{
        padding-top: 15px;
        width: 250px;
        height: 100%;
        background-color: white;
        border-right: 1px solid grey;
    }
}

@media (max-width:500px) {
    .sidebar-details {
        width: 200px;
    }

    .sidedetails-ul {
        width: 200px;
    }

    .sidedetails-ul li {
        font-size: 14px;
    }
}