.multi-steps > li.is-active:before,
.multi-steps > li.is-active ~ li:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 700;
}
.multi-steps > li.is-active:after,
.multi-steps > li.is-active ~ li:after {
  background-color: #ededed;
}

.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 25px;
}
.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: tomato;
}
.multi-steps > li:before {
  content: "\2713"; 
  display: block;
  margin: 0 48% 10px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: tomato;
  border-radius: 50%;
}
.multi-steps > li:after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: tomato;
  position: absolute;
  top: 16px;
  /* left: 50%; */
}
.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: tomato;
}
.multi-steps > li.is-active ~ li {
  color: #808080;
}
.multi-steps > li.is-active ~ li:before {
  background-color: #ededed;
  border-color: #ededed;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/* Portrait */
@media only screen and (max-width: 480px)  {
  .multi-steps > li {
    color: red !important;
  }
}


.formContainer h2{
  text-align: center;
}



.nextBtn{
    color: rgb(76, 76, 76);
    width: 80px;
    height: 40px;
    margin: 20px 20px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #892be288;
    border-radius: 10px;
    transition: .5s;
    font-size: 1em;
    position: relative;
    /* left: 35%; */
  }
  
  .btn,.btn2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn2{
    width: 100%;
  }
  
  .nextBtn:hover{
    color: #ffffff;
    background-color: #892be288;
    border: none;
  }
