*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}


/*  ------------- SCROLL BAR STYLE -------------- */


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgba(28, 58, 190, 0.501)));
}

/* ------------------- END OF SCROLL BAR -------------------- */


.layout{
  width: 100vw;
  height: 90vh;
  background-color: red;
}

.sidebarOutlet{
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(224, 224, 224);
}

.mainContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(224, 224, 224);
}

.outlet{
  width: 98%;
  height: 96%;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
}

